/* 
Challenge:
Re-design the cookie widget!
PS: Make sure you change ALL of the listed CSS properties.
*/

h2 {
    background: cadetblue;     /* red, blue, yellow, etc */
    color: black;            /* red, blue, yellow, etc */
    font-size: 20px;        /* 0px - 100px and beyond */
    font-weight: lighter;   /* lighter, normal, bold  */
    text-align: left;      /* left, center or right  */ 
    margin-top: 25px;        /* From 0px and upwards   */
}

.una_clase {
    background-color: aqua;
    text-align: left;
}
